{
    log {
        output stdout
        level debug
        format console
    }
}

localhost, 312.nico.engineer {
    rewrite /ws/socket.io /ws/socket.io/
    reverse_proxy /ws/socket.io/* ws:3001 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote.host}
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Proto {http.request.scheme}
    }

    handle_path /ws/* {
        reverse_proxy ws:3001 {
            header_up Host {http.request.host}
            header_up X-Real-IP {http.request.remote.host}
            header_up X-Forwarded-For {http.request.remote}
            header_up X-Forwarded-Proto {http.request.scheme}
        }
    }

    reverse_proxy api:3000 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote.host}
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}
